<div class="wrapper">
  <h4 class="name">{{product.name}}</h4>
  <img class="image" src="{{product.url}}" alt="{{product.description | slice:0:10}}">
  <section>
    <article>
      <h5>Retail purchase</h5>
      <p>{{product.name}} 1kg for {{product.retailPrice}}$</p>
      <p>This is a price for less than 10 kilograms per purchase.</p>
    </article>
    <article>
      <h5>Wholesale purchase</h5>
      <p>{{product.name}} 1kg for {{product.wholesalePrice}}$</p>
      <p>This is a special price for more than 10 kilograms per purchase.</p>
      <p>Every 15th kg {{product.name | lowercase}} as a gift!</p>
    </article>
  </section>
  <button class="back-button" (click)="goBack()">Go back</button>
</div>
