app-product
  display: grid
  grid-template-rows: 1fr
  grid-row-gap: 30px
  align-items: center

.fruits
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))
  align-items: center
  grid-column-gap: 20px
  grid-row-gap: 20px
  list-style: none

.fruit
  text-align: center
  background-color: white
  width: 400px
  text-decoration: none
  border-radius: 8px

.image
  width: 400px
  height: 300px
  object-fit: cover

.price
  font-weight: bold
  font-size: 20px
  margin: 0 0 0 5px

.names
  color: black
  font-size: 30px
  font-family: Montserrat, sans-serif
  padding: 10px 0
  font-weight: normal
  margin: 0
  text-align: center
  background-color: cornflowerblue
  border-radius: 8px 8px 0 0

.image-wrapper
  display: flex
  flex-direction: row
  justify-content: center

.single-price
  margin-right: 10px

.card-footer
  position: relative
  display: flex
  flex-direction: row
  justify-content: center

.material-icons
  height: 23px

.info
  position: absolute
  right: 10px
  top: 50%
  transform: translateY(-50%)

.button-wrapper
  display: flex
  flex-direction: row
  justify-content: center
  height: 30px
  width: 180px
  margin: 12px 0
  cursor: pointer




